<h1>Products List</h1>

<div class="list-group">
  <% @products.each do |product| %>
    <p class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
      <a <% if current_user.admin? %>
        <%= link_to product.name, product %> 
      <% else %>
        <span> <%= product.name %> </span>
      <% end %>
      </a>
      <span class="badge badge-primary badge-pill"> ₹ <%= product.price %> </span>
    </p> 
    
  <% end %>
</div><br>

<% if current_user.admin? %>
  <a class="btn btn-secondary" <%= link_to "New Product", new_product_path %> </a>
<% end %>